:root {
    --all-background-color: #FFFFFF;
    --normal-background-color: #A8A77A;
    --fire-background-color: #EE8130;
    --water-background-color: #6390F0;
    --electric-background-color: #F7D02C;
    --grass-background-color: #7AC74C;
    --ice-background-color: #96D9D6;
    --fighting-background-color: #C22E28;
    --poison-background-color: #A33EA1;
    --ground-background-color: #E2BF65;
    --flying-background-color: #A98FF3;
    --psychic-background-color: #F95587;
    --bug-background-color: #A6B91A;
    --rock-background-color: #B6A136;
    --ghost-background-color: #735797;
    --dragon-background-color: #6F35FC;
    --dark-background-color: #705746;
    --steel-background-color: #B7B7CE;
    --fairy-background-color: #D685AD;
}


/*NAV-------------------------------------------------------------------------*/
.nav {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav__img {
    margin-left: 10px;
    width: 15%;

}


.nav__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
    width: 75%;
    padding-inline: 0;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
}

.nav__li {

    padding: 0;
    
    margin: 5px;

}

.button__nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}
/*MAIN------------------------------------------------------------------------*/
h1{
    text-align: center;
    text-transform: capitalize;
}

main{
    font-family: Arial, Helvetica, sans-serif;
}
.pokemon-todos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Estilo para la clase .pokemon-id-back */
.pokemon-id-back {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Estilo para la clase .pokemon-imagen */
  .pokemon-imagen {
    text-align: center;
  }
  
  /* Estilo para la clase .pokemon-imagen img */
  .pokemon-imagen img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilo para la clase .pokemon-info */
  .pokemon-info {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    height: 600px;
  }
  
  /* Estilo para la clase .nombre-contenedor */
  .nombre-contenedor {
    text-align: center;
  }
  
  /* Estilo para la clase .pokemon-id */
  .pokemon-id {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Estilo para la clase .pokemon-nombre */
  .pokemon-nombre {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilo para la clase .pokemon-tipos */
  .pokemon-tipos {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  /* Estilo para la clase .pokemon-stats */
  .pokemon-stats {
    text-align: center;
  }
  
  /* Estilo para la clase .stat */
  .stat {
    margin-top: 10px;
  }
  

/*FOOTER----------------------------------------------------------------------*/
#footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
    
    padding-inline: 0;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
}

.footer__li {

    padding: 0;
    
    margin: 5px;

}

.footer__button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 60px;
    height: 40px;
    padding: 0;
}